.git
.gitignore

venv/
.venv/
env/

**pycache**/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

.vscode/
.idea/

*.ipynb

datasets/
dataset/
data/
test_images/
sample_images/
screenshots/

*.mp4
*.avi
*.mov
*.mkv
